<ion-side-menus ng-controller="seriesDashboardController">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-dark nav-title-slide-ios7">
      <ion-nav-buttons class="button-clear">
        <button class="button icon ion-navicon-round" ng-click="toggleLeft()"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!-- Dashboard -->
    <div class="tabs tabs-icon-top dark-bg" ng-if="icon == 'series.Dashboard' || icon == null">
      <div class="tab-item light" ng-click="go('series.mySeries');">
        <i class="icon ion-android-list"></i>
        My Series
      </div>
      <div class="tab-item light">
        <i class="icon ion-android-search"></i>
        Search Serie
      </div>
      <div class="tab-item light">
        <i class="icon ion-power"></i>
        Log-out
      </div>
    </div>

    <!-- My Series -->
    <div class="tabs tabs-icon-top" ng-if="icon == 'series.mySeries'">
      <div class="tab-item" ng-click="go('series.Dashboard');">
        <i class="icon ion-grid"></i>
        Dashboard
      </div>
      <div class="tab-item" ng-click="go('series.mySeriesToday');">
        <i class="icon ion-android-film"></i>
        Today my series
      </div>
      <div class="tab-item">
        <i class="icon ion-android-calendar"></i>
        My next series
      </div>
    </div>

    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sideMenu-container">
    <div class="header">
          <div class="item item-avatar">
            <img src="{{user.avatar}}">
            <h2 class="light">{{user.username}}</h2>
            <h7 class="light">{{user.email}}</h7>
          </div>

        <div menu-close class="item item-icon-left light" ng-click="go('series.Dashboard')">
          <i class="icon ion-ios-keypad"></i><b>Dashboard</b>
        </div>

        <div menu-close class="item item-icon-left light" ng-click="go('series.premieres')">
          <i class="icon ion-ios-keypad"></i><b>Premieres</b>
        </div>

        <div menu-close class="item item-icon-left light" ng-click="go('series.mySeries')">
          <i class="icon ion-android-clipboard"></i><b>My Series</b>
        </div>
        
        <div menu-close class="item item-icon-left light">
          <i class="icon ion-android-search"></i><b>Search Series</b>
        </div>

        <div menu-close class="item item-icon-left light">
          <i class="icon ion-person"></i><b>Account</b>
        </div>
      </ion-list>
    </div>
  </ion-side-menu>
</ion-side-menus>