<ion-side-menus ng-controller="seriesDashboardController">
  <ion-side-menu-content>
    <ion-nav-bar class="nav-title-slide-ios7 bar-royal">
      <ion-nav-buttons class="button-clear">
        <div class="bar bar-header">
          <div class="button" ng-click="toggleLeft()">
            <i class="icon ion-navicon-round light"></i>
          </div>
          <div class="button" ng-click="logout()">
            <img style="max-height: 30px; max-width: 30px;" src="{{avatar}}">
            <i class="icon ion-power light"></i>
          </div>
        </div>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent" animation="slide-left-right"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" class="sideMenu-container">
    <div class="header">
        <div class="background-header">
          <div class="item-thumbnail-right">
            <img src="{{avatar}}">
          </div>
          <h4 class="light"><b>Welcome {{name}}</b></h4> 
          <div class="item-thumbnail-left dark">
            <img src="./img/googlePlay.png">
          </div>
        </div>
        <div menu-close class="item item-icon-left dark" ng-click="go('series.Dashboard')">
          <i class="icon ion-ios-keypad"></i>
          <b>Dashboard</b>
        </div>

        <div menu-close class="item item-icon-left dark" ng-click="go('series.premieres')">
          <i class="icon ion-android-star-outline"></i><b>Premieres</b>
        </div>

        <div menu-close class="item item-icon-left dark" ng-click="go('series.mySeries')">
          <span class="badge badge-assertive">{{numberSeries}}</span>
          <i class="icon ion-monitor"></i><b>My Series</b>
        </div>
<!--
        <div menu-close class="item item-icon-left dark" ng-click="go('series.activity')">
          <i class="icon ion-ios-people"></i><b>Activity Users</b>
        </div>
-->
        <div menu-close class="item item-icon-left dark" ng-click="go('series.recommend')">
          <i class="icon ion-pound"></i><b>Recommend</b>
        </div>

        <div menu-close class="item item-icon-left dark" ng-click="go('series.profile')"
          ng-if="name != 'Guest'">
          <i class="icon ion-person"></i><b>Account</b>
        </div>

        <div class="information assertive" ng-if="name == 'Guest'">
          <b>YOU ARE LOGGED IN AS A GUEST<br><br>
          His record is not private, please create an account and log in.
          </b>
        </div>
        <div menu-close class="item item-icon-left dark" ng-click="exitApp()">
          <i class="icon ion-log-out"></i><b>Exit Application</b>
        </div>
        
      </ion-list>
    </div>
  </ion-side-menu>
</ion-side-menus>