.addSeries-container{
	background-size: cover;
	background-color: #009688;

	.listCard {
		float: left;
	}

	.bar-search {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
    }

    
}