.dashboard-container{
  background-size: cover;
  background-color: #263238;
  margin-bottom: 40px;
  
  .tittle { 
    background-color: transparent !important;
    border: none;
    margin-top: 35px;
  }

  ::-webkit-input-placeholder {
    color: $light;
  }
  
  h2 {
    color: #FF6F00;
  }
  .item {
    background-color: transparent !important;
    border: transparent !important;
  }
  h7 {
    color: #64FFDA;
  }
  h3 {
    color: #ffffff;
  }
  .color-date {
    color: #EEEEEE;
  }
}