.mySeries-container{
	background-size: cover;
	background-color: #263238;
	
	.size-image {
		border-radius: 20%;
	}
	.item, .item-content {
		background-color: transparent !important;
		border-color: transparent !important;
		margin: -6px;
		margin-bottom: -10px;
	}
	.lastEpisodeSeen {
		border-bottom-right-radius: 2em;
		border-bottom-left-radius: 2em;
	}
	.tittle { 
		background-color: transparent !important;
		border: none;
	}

	h5 {
		color: #0089FF;
		text-align: right;
		padding-right: 20px;
	}
	.justify {
		text-align: justify;
		padding-right: 20px;
		padding-left: 20px;
	}
	.image-align {
		width: 60%;
		margin-left: 20%;
		margin-right: 20%;
	}
	.position-delete {
		margin-bottom: -100px;
		text-align: right;
	}
	.align-buttom {
		text-align: right;
	}
	.margin {
		margin-top: -35px;
	}
	.margin2 {
		margin-top: -25px;
	}
	.margin3 {
		margin-top: -10px;
	}
}