.premieres-container{
  background-size: cover;
  background-color: #009688;
  margin-bottom: 40px;
  .list-card{
  	float: left;
  	margin: 5px;
    width: 240px;
    height: auto; 
    border-radius: 15%;
  }
  .size-image{
  	height: 160px; 
  	max-width: 160px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
  	margin-top: 5px;
  }
  .tittle { 
  	background-color: transparent !important;
  	border: none;
  }
  .card {
  	background-color: transparent !important;
  }
  .item{
  	opacity: 0.9;
  }
  .size-flag{
    width: 20px;
    height: 20px;
  }
  h7 {
    font-style: italic;
  }
  title-card{
    color: #FF6F00;
  }
  .title-card {
     color: #000000;
  }
}