.premieres-container{
  background-size: cover;
  background-color: #263238;
  margin-bottom: 40px;

  .size-image{
  	height: 160px; 
  	max-width: 160px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
  	margin-top: 5px;
  }

  ::-webkit-input-placeholder {
    color: $light;
  }

  .tittle { 
  	background-color: transparent !important;
  	border: none;
  }

  .card {
  	background-color: transparent !important;
  }

  .item{
    background-color: transparent !important;
    border-color: transparent !important;
  }

  .size-flag{
    width: 20px;
    height: 20px;
  }

  title-card{
    color: #FF6F00;
    border-color: transparent !important;
  }

  .title-card {
    color: $light;
  }

  .margin-separate {
    margin-top: -40px;
  }

  .margin-avatar {
    margin-top: -20px;
  }

  .margin-search {
    margin-top: -30px;
    margin-bottom: 20px;
    color: $light;
  }
  .padding-bottom {
    padding-bottom: 10%;
  }

  .align-buttom {
    text-align: right;
  }
}