.sideMenu-container{
  background-size: cover;
  background: url('../img/b4.jpg') center;
  color: white;
	.item { 
		background-color: transparent !important;
	}
	.myTabStyle {
    	background-color:#1b4d71 !important;
    }

	.myTabStyle:hover {
    	background-color:#098aba !important;
    }
}
