<ion-view view-cached="false">
    <ion-content class="currentSerie-container padding">
    <div class="row">
      <div class="col col-85">
          <div class="item item-icon-left tittle light">
              <i class="icon ion-pin"></i>
              <b>{{currentSerie.show.name}}</b>
          </div>
      </div>
      <div class="col col-15 buttom-right">
          <button class="button button-assertive" 
              ng-click="showInfo = true" 
              ng-show="!showInfo">
              <i class="icon ion-information"></i>
          </button>
          <button class="button button-assertive" 
              ng-click="showInfo = false" 
              ng-show="showInfo">
              <i class="icon ion-minus-round"></i>
          </button>
      </div>
    </div><br>
    <div ng-if="!showInfo">
      <div class="size-card">
        <img src="{{currentSerie.show.image.medium}}">
      </div>
      <div class="card">
        <b>{{summary}}</b>
      </div>
      <div ng-repeat="list in listSeasons | filter:{number: lastSeason}">
        <div class="item tittle light">
            <b>Previous Episodes</b>
        </div>
        <ion-list>
          <ion-item ng-repeat="episodes in listEpisodes | filter:{season: lastSeason} | limitTo: -5 | orderBy: '-airdate'" ng-if="episodes.airdate <= getToday">
            <div class="item item-body style light">
              <b><span class="energized">{{episodes.season}}x{{episodes.number}}:</span>
              {{episodes.name}}</b>
            </div>
            <div class="calm">{{episodes.airstamp | date:"MMM/dd/yyyy 'at' h:mma"}}
              <span class="today" ng-if="episodes.airdate == getToday"><b>Today</b></span>
            </div><hr>
          </ion-item>
        </ion-list>
        <br>
      </div>
    </div>

    <div ng-if="showInfo">
      <div class="card light">
        <h5 class="light"><b>Airs on: </b>
          <img src="/img/usa.png">
          <channel><b>{{currentSerie.show.network.name}}</b></channel>
        </h5>
        <h5 class="light" ng-if="currentSerie.show.genres[0]">
        <b>
          Genres: 
            {{currentSerie.show.genres[0]}}
            {{currentSerie.show.genres[1]}}
            {{currentSerie.show.genres[2]}}
            {{currentSerie.show.genres[3]}}
            {{currentSerie.show.genres[4]}}
        </b>
        </h5>
        <h5 class="light" ng-if="currentSerie.show.status">
        <b>
          Status:
          {{currentSerie.show.status}}
        </b>
        </h5>
        <h5 class="light" ng-if="currentSerie.show.rating.average">
        <b>
          Rating:
          {{currentSerie.show.rating.average}}
        </b>
        </h5>
        <h5 class="light" ng-if="currentSerie.show.schedule.days[0]">
        <b>
          Scheduled:
          <channel>
          {{currentSerie.show.schedule.days[0]}}
          {{currentSerie.show.schedule.days[1]}}
          {{currentSerie.show.schedule.days[2]}}
          {{currentSerie.show.schedule.days[3]}}
          {{currentSerie.show.schedule.days[4]}}
          {{currentSerie.show.schedule.days[5]}}
          {{currentSerie.show.schedule.days[6]}}
          </channel>
          <time ng-if="currentSerie.show.schedule.time">
            at {{currentSerie.show.schedule.time}}
          </time>
        </b>
        </h5>
        <h5 class="light" ng-if="currentSerie.show.premiered">
        <b>
          Premiered:
          {{currentSerie.show.premiered}}
        </b>
        </h5>
      </div>
    </div>

    <!--


          <div class="col col-40 separe">
            <div class="card card-style">
              <h3>Show Information</h3>
              
            </div>
          </div>
        </div>
        <div class="row" ng-repeat="list in listSeasons | filter:{number: lastSeason}">
          <div class="col col-25">
            <img src="{{list.image.medium}}">
          </div>
          <div class="col col-66">
          <nav>
            <div class="nav-wrapper">
              <h3 class="title-nav">Previous Episodes</h3>
            </div>
          </nav>
          <table class="responsive-table highlight bordered">
            <thead>
              <tr>
                  <th><h4>Episode Name</h4></th>
                  <th><h4>Airdate</h4></th>
                  <th></th>
              </tr>
            </thead>
            <tbody ng-repeat="episodes in listEpisodes | filter:{season: lastSeason} | limitTo: -5 | orderBy: '-airdate'">
              <tr ng-if="episodes.airdate <= getToday">
                <td>{{episodes.season}}x{{episodes.number}}: {{episodes.name}}</td>
                <td>{{episodes.airstamp | date:"MMM/dd/yyyy 'at' h:mma"}}</td>
                <td class="today" ng-if="episodes.airdate == getToday"><b>Today</b></td>
                <td ng-if="episodes.airdate < getToday"></td>
                <td class="soon" ng-if="episodes.airdate > getToday"> Soon </td>
              </tr>
            </tbody>
          </table>
          </div>
        </div> -->
    </ion-content>
</ion-view>