<ion-view view-title="Show selected" view-cached="false">
    <ion-content class="currentSerie-container padding">
        <div class="row">
          <div class="col col-25">
            <div class="summary dark" ng-if="previousEpisode">
              Previous Episode<hr>
              <div class="list-item-card">
                <b>Tittle:</b> {{previousEpisode.Title}}<br>
                <b>Season:</b> {{previousEpisode.Season}}<br>
                <b>Episode:</b> {{previousEpisode.Episode}}<br>
                <b>Date:</b> {{previousEpisode.Released}}<br>
                <b>Plot:</b> {{previousEpisode.Plot}}
                
              </div>
            </div>
          </div>
          <div class="col col-50">
       		<div class="card size-card">
       			<h3 class="tittle">
       				{{currentSerie.show.name}}
       			</h3>
       			<div class="card-image">
                  <img class="size-image"
                    ng-src="{{currentSerie.show.image.original}}">
                  <div class="item-icon-right">
                    <button class="icon button button-icon ion-arrow-right-b" 
                      ng-click="nextepisode();">
                    </button>
                  </div>
                  <div class="item-icon-left">
                    <button class="icon button button-icon ion-arrow-left-b" 
                      ng-click="previousepisode();">
                    </button>
                  </div>
            </div>
            <div class="summary dark">
              <h4 class="tittle">
                {{currentSerie.name}}
                <hr>
              </h4>
              <div class="list-item-card">
                <b>SEASON:</b> {{currentSerie.season}}<br>
                <b>EPISODE:</b> {{currentSerie.number}}<br>
                <b>DATE:</b> {{currentSerie.airdate}} {{currentSerie.airtime}} 
                {{currentSerie.show.network.country.timezone}}<br>
                <b>CHANNEL:</b> {{currentSerie.show.network.name}}<br>
                <hr>
                <div ng-if="currentSerie.show.schedule.days[0]">
                  <b>SCHEDULE: </b>
                    {{currentSerie.show.schedule.days[0]}}
                    {{currentSerie.show.schedule.days[1]}}
                    {{currentSerie.show.schedule.days[2]}}
                    {{currentSerie.show.schedule.days[3]}}
                    {{currentSerie.show.schedule.days[4]}}
                    {{currentSerie.show.schedule.days[5]}}
                    {{currentSerie.show.schedule.days[6]}}<hr>
                </div>
                  <b>{{summary}}</b>
              </div>
            </div>
       		</div>
          </div>
          <div class="col col-25" ng-if="nextEpisode">
            <div class="summary dark">
              Next Episode<hr>
              <div class="list-item-card">
                <b>Tittle:</b> {{nextEpisode.name}}<br>
                <b>Season:</b> {{nextEpisode.season}}<br>
                <b>Episode:</b> {{nextEpisode.number}}<br>
                <b>Date:</b> {{nextEpisode.airdate}}
                {{nextEpisode.airtime}}<br>
              </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>