<ion-view>
    <ion-content class="padding profile-container">
    	<div class="row">
            <div class="col col-60">
                <div class="item item-icon-left tittle light">
                    <i class="icon ion-person"></i>
                    <b>My Profile</b>
                </div>
            </div>
            <div class="col col-40 buttom-align">
                <button class="button button-assertive" 
                    ng-click="editAccount = true" 
                    ng-show="!editAccount">
                    <i class="icon ion-edit"></i>
                </button>
                <button class="button button-assertive" 
                    ng-click="logout()" 
                    ng-show="!editAccount">
                    <i class="icon ion-power"></i>
                </button>
                <button class="button button-assertive" 
                        ng-click="editAccount = false" 
                        ng-show="editAccount">
                    <i class="icon ion-reply"></i>
                </button>
            </div>
        </div>
        <div ng-show="editAccount">
        <div class="row">
            <div class="col logo-preview padding">
                <img ng-src="{{data.avatar}}" ng-show="data.avatar != ''">
                <i class="icon ion-refresh light" ng-show="data.avatar != ''" ng-click="clearAvatar()"></i>
            </div>
        </div>
        <div class="row">
            <img class="avatar-list" ng-repeat="avatar in listAvatares" 
            ng-src="{{avatar.url}}" ng-click="toggleImage(avatar)">
        </div>
        <h5 class="light center"><b>To upload your own image use the web version</b></h5>
        </div>
        <div class="row">
        	<div class="col center">
                <form name="updateAccountForm" ng-submit="updateAccount(updateAccountForm)">
        		<img class="avatar" ng-if="user.avatar" ng-src="{{user.avatar}}" 
                    ng-show="!editAccount">
                <img class="avatar" ng-if="!user.avatar" 
                    ng-src="./img/profile-default.png" ng-show="!editAccount">
                <div class="card">
                    <div class="item item-icon-left">
                        <i class="icon ion-person"></i>
                    <label class="item-input label-form">
                        <b class="input-label show-form">Username:</b>
                        <input ng-show="editAccount" type="text" 
                               ng-minlength="6" ng-maxlength="20" 
                               name="username" 
                               ng-model="data.username" 
                               placeholder="{{user.username}}">
                        <div ng-show="!editAccount">{{user.username}}</div>
                    </label>
                    </div>
                    <div class="item item-icon-left">
                        <i class="icon ion-email"></i>
                    <label class="item-input label-form">
                        <b class="input-label show-form">Email:</b>
                        <input ng-show="editAccount" type="email" ng-minlength="15" ng-maxlength="40" name="email" ng-model="data.email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" placeholder="{{user.email}}">
                        <div ng-show="!editAccount">{{user.email}}</div>
                    </label>
                    </div>

                    <div class="item item-icon-left" ng-show="editAccount"> 
                        <i class="icon ion-key"></i>
                    <label class="item-input label-form">
                        <b class="input-label show-form">Password:</b>
                        <input ng-show="editAccount" placeholder="Set new password" 
                            type="password" ng-minlength="6" ng-maxlength="30" 
                            name="password" ng-model="data.password">
                        <div ng-show="!editAccount">{{user.email}}</div>
                    </label>
                    </div>
                </div>
                    <div>
                        <button type="submit" class="button button-full button-assertive ink"    ng-show="editAccount && (
                                data.avatar || data.username || data.password || 
                                data.email)" 
                            ng-click="editAccount = false">
                            Update Profile
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </ion-content>
</ion-view>