<ion-view>
    <div class="tabs-striped tabs-top tabs-background-light tabs-color-dark">
    	<div class="tabs">
      		<div class="tab-item" ng-click="selectTabWithIndex(1)">
				<i class="icon ion-android-calendar"></i>
			</div>
      		<div class="tab-item" ng-click="selectTabWithIndex(2)">
				<i class="icon ion-calendar"></i>
			</div>
      		<div class="tab-item" ng-click="selectTabWithIndex(3)">
        		<i class="icon ion-android-search"></i>
      		</div>
    	</div>
	</div>
  	<ion-content class="dashboard-container padding">
        <div class="row">
        	<div class="col" ng-if="active || showTodayEpisode">
        		<div class="item tittle light">
                    <b>My Series to see Today</b>
                </div>
    			<div ng-repeat="today in toptoday">
    			<div ng-repeat="listSerie in today">
				<div ng-repeat="list in listToday">
	    			<div ng-repeat="serie in list| orderBy: 'airtime'"
	    				ng-if="listSerie.id == serie.id">
	    				
	    				<h4 class="energized"><b>{{listSerie.show.name}}</b></h4>

	    				<div class="item item-thumbnail-left">
						    <img src="{{listSerie.show.image.medium}}">
						    <h7>{{serie.name}}</h7>
						    <h3 ng-if="serie.season < 10 && serie.number < 10">
						    	Episode: 0{{serie.season}}x0{{serie.number}}
						    </h3>
						    <h3 ng-if="serie.season > 9 && serie.number < 10">
						    	Episode: {{serie.season}}x0{{serie.number}}
						    </h3>
						    <h3 ng-if="serie.season > 9 && serie.number > 9">
						    	Episode: {{serie.season}}x{{serie.number}}
						    </h3>
						    <h3 ng-if="serie.season < 10 && serie.number > 9">
						    	Episode: 0{{serie.season}}x{{serie.number}}
						    </h3>
						    <div class="color-date">
						    	{{serie.airstamp | date:"MMM/dd/yyyy 'at' h:mm a"}}
						    </div>
					    </div>
					</div>
				</div>
				</div>
				</div>      		
			</div>
        	<div class="col" ng-if="showNextEpisode">
        		<div class="item tittle light">
                    <b>My Next Episodes </b>
                </div>
				<div ng-repeat="episode in nextEpisode">
					<div class="item item-thumbnail-left">
			    		<img src="{{episode.image.medium}}">
			    		<h2><b>{{episode.name}}</b></h2>
			    		<h7 ng-if="episode._embedded.nextepisode.season < 10 && episode._embedded.nextepisode.number < 10">
					    	<b>0{{episode._embedded.nextepisode.season}}x0{{episode._embedded.nextepisode.number}}</b>
					    </h7>
					    <h7 ng-if="episode._embedded.nextepisode.season > 9 && episode._embedded.nextepisode.number < 10">
					    	<b>{{episode._embedded.nextepisode.season}}x0{{episode._embedded.nextepisode.number}}</b>
					    </h7>
					    <h7 ng-if="episode._embedded.nextepisode.season > 9 && episode._embedded.nextepisode.number > 9">
					    	<b>{{episode._embedded.nextepisode.season}}x{{episode._embedded.nextepisode.number}}</b>
					    </h7>
					    <h7 ng-if="episode._embedded.nextepisode.season < 10 && episode._embedded.nextepisode.number > 9">
					    	<b>0{{episode._embedded.nextepisode.season}}x{{episode._embedded.nextepisode.number}}</b>
					    </h7>
					    <h7>{{episode._embedded.nextepisode.name}}</h7>
					    <h3>
					    	{{episode._embedded.nextepisode.airstamp | date:"EEEE, MMM/dd/yyyy"}}
					    </h3>
					    <h3>
					    	{{episode._embedded.nextepisode.airstamp | date:"h:mm a"}}
					    </h3>
			    	</div>
				</div>
        	</div>
        	<div class="col" ng-if="showSearch">
				<div class="item tittle light">
                    <b>Search & Add Series</b>
                </div>
				<form name="serie" ng-submit="searched(serie)" >
					<label class="item item-input">
						<i class="icon ion-search placeholder-icon"></i>
				  		<input type="search" 
				  			placeholder="Type your series name" 
				  			ng-model="data.search">
				  		<button class="button button-small">
				      		Submit
				    	</button>
					</label>
				</form>
				<div ng-repeat="serie in mySearch"
	    			ng-if="serie.show.externals.imdb">
					<div class="item item-thumbnail-left">
						<img src="{{serie.show.image.medium}}">
						<h2>{{serie.show.name}}</h2>
						<p>Premiered: {{serie.show.premiered  | date:"MMM/dd/yyyy"}}</p>
						<p>
					      	<div class="waves-effect waves-light btn" 
					      		ng-click="addSerie(serie.show.externals.imdb);">
					      		+ Add to my list
					      	</div>
					    </p>
					</div>
	    		</div>
				<div ng-repeat="today in toptoday" ng-if="mySearch == null">
    				<div class="item item-thumbnail-left" 
    					ng-repeat="list in today | orderBy: 'airtime' | limitTo: -20" 
    					ng-if="list.show.externals.imdb">

					    <img src="{{list.show.image.medium}}">
					    <h2><b>{{list.show.name}}</b></h2>
					    <h7>{{list.name}}</h7>
					    <h3 ng-if="list.season < 10 && list.number < 10">
					    	Episode: 0{{list.season}}x0{{list.number}}
					    </h3>
					    <h3 ng-if="list.season > 9 && list.number < 10">
					    	Episode: {{list.season}}x0{{list.number}}
					    </h3>
					    <h3 ng-if="list.season > 9 && list.number > 9">
					    	Episode: {{list.season}}x{{list.number}}
					    </h3>
					    <h3 ng-if="list.season < 10 && list.number > 9">
					    	Episode: 0{{list.season}}x{{list.number}}
					    </h3>
					    <h3>
					    	<b>{{list.airstamp | date:"MMM/dd/yyyy 'at' h:mm a"}}</b>
					    </h3>
				    </div>
			    </div>
        	</div>
        </div>
    </ion-content>
</ion-view>