<ion-view view-title="Episodes List">
    <ion-content class="episodes-container">
		<div class="row">
		<ion-list class="col col-75">
		<nav>
			<div class="nav-wrapper">
				<h4 class="title-card light"><b>Seasons & Episodes</b></h4>
			</div>
		</nav>
        <div ng-repeat="season in listSeasons">
          	<ion-item class="item-stable"
                    ng-click="toggleGroup(season)"
                    ng-class="{active: isGroupShown(season)}">
            	<i class="icon" ng-class="isGroupShown(season) ? 'ion-minus' : 'ion-plus'"></i>
            	Season {{season.number}}
            	<!--
            	<div class="item-icon-right"
            		ng-click="toggleEye(season)"
                   	ng-class="{active: view(season)}">
                    <button class="icon button button-icon ion-eye">
                    </button>
                </div>
                -->
          	</ion-item>
          	<div class="item-accordion"
                ng-repeat="episode in listEpisodes | filter:{ season:season.number }"
                ng-show="isGroupShown(season)">
                <div class="item item-text-wrap">
	                <h2>{{season.number}}x{{episode.number}}: 
	                	<color><b>{{episode.name}}</b></color>
	                </h2>
	                <div class="item-icon-right" 
	                	ng-repeat="progress in progressSeries"
	                	ng-click="toggleEye(episode)">
	                	<i class="icon ion-eye-disabled"
	                		ng-if="episode.id == progress.episodeId">
                		</i>
                		<i class="icon ion-eye"
                			ng-if="episode.id != progress.episodeId">
                		</i>
            		</div>
            		<h3>{{episode.airstamp | date:"MMM/dd/yyyy 'at' h:mma"}}</h3>
	            </div>
          	</div>
        </div>
      	</ion-list>
      	<div class="col col-25">
      		<img class="size-image align-image" ng-src="{{data.image.medium}}">
      		<ul class="collapsible" data-collapsible="accordion">
				<li>
				  <div class="collapsible-header"><i class="ion-ios-information-outline"></i>
				  	{{data.name}}
				  </div>
				  <div class="collapsible-body body-card light-bg">
				  	Status: {{data.status}}<br>
				  	Premiered: {{data.premiered}}<br>
				  	Network: {{data.network.name}}
				  </div>
				</li>
				<li>
				  <div class="collapsible-header"><i class="ion-android-alarm-clock"></i>
				  	Schedule
				  </div>
				  <div class="collapsible-body body-card light-bg">
				  	{{data.schedule.days[0]}}
				  	{{data.schedule.days[1]}}
				  	{{data.schedule.days[2]}}
				  	{{data.schedule.days[3]}}
				  	{{data.schedule.days[4]}}
				  	{{data.schedule.days[5]}}
				  	{{data.schedule.days[6]}}
				  </div>
				</li>
				<li>
				  <div class="collapsible-header"><i class="ion-ios-book-outline"></i>
				  	Summary
				  </div>
				  <div class="collapsible-body light-bg"><p>{{data.summary}}</p></div>
				</li>
			</ul>
      	</div>
      	</div>
    </ion-content>
</ion-view>
